.ParentWelcome {
    border: 5px solid red;
    overflow: hidden;
}

.HomeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    width: 100%;
    max-width: 1200px; /* Adjust width if needed */
    margin: 0 auto; /* Centers the container horizontally */
    padding: 2rem 0; /* Add padding for spacing */
}

.welcomeMsg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 70%;
    text-align: center;
    color: white;
    background-color: rgba(31, 35, 53, 0.7);
    border-radius: 3rem;
    font-size: 0.5rem;
    padding: 2rem;
    margin: 3rem 4rem;
    max-width: 70%;
    max-height: 90%;
}

.welcomeImg {
    width: 30%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4rem;
}

.welcomeImg img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5rem;
    object-fit: contain;
}

.aboutContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 75vw;
    margin-top: 4.9rem;
    height: 4rem auto;
    background-color: rgba(18, 28, 43, 0.97);
    border-top: 15px #f07422 solid;
    border-radius: 1rem;
    padding: 2rem;
    flex-direction: column; /* Stack title and text vertically */
}

.aboutTitle {
    position: absolute;
    top: -3.7rem; /* Adjust as needed to position the title */
    left: 0;
    background-color: rgb(244, 128, 20); /* Matching the example color */
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border-bottom-left-radius: 0; 
    color: white;
    font-size: 1.2rem;
    z-index: 1001; /* Ensure the title stays on top */
}

.aboutText {
    text-align: center;
    max-width: 95%; /* Adjust width to avoid stretching too much */
    font-size: 0.7rem;
    color: white;
    background-color: rgba(31, 35, 53, 0.7);
    padding: 2rem;
    border-radius: 1rem;
    line-height: 1.8;
}

.WelcomeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;  /* Ensure it doesn't exceed viewport width */
    margin: 0 auto; /* Center it horizontally */
    height: 35rem;
    background-color: rgba(18, 28, 43, 0.97);
    border-radius: 1rem;
    text-align: center;
}

.welcomeTitle{
    display: flex;
    justify-content: start;
    align-items: start;
    margin-left: -23rem;
}
.welcome-user{
    color: white;
    font-size: 3rem;
    margin: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    -webkit-text-stroke: 0.5px black;
    text-size-adjust: 100%;
    max-width: fit-content;
    
    
}